<div class="mb-3">
<form action="/repositories" method="get" class="form-control">
    <label for="owner"> Nombre de usuario: </label>
    <input type="text" id="owner" name="owner" required>
    <label for="repo"> Nombre del repositorio: </label>
    <input type="text" id="repo" name="repo" required>
    <button type="submit"> Obtener detalles del repositorio
    </button>
</form>
</div>
