<div class="mb-3">
<form action="/personas" method="get" class="form-control">
    <label for="owner"> id: </label>
    <input type="text" id="id" name="id" required>
    
    <button type="submit"> Obtener detalles del repositorio
    </button>
</form>
</div>
