<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diario de Obra</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <div class='container-md d-flex justify-content-between align-items-center p-2'>

        <h3 class="text-primary">DIARIO DE OBRA</h3>

        <nav>
            <ul class="nav nav-tabs p-1">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Tareas Realizadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tareas/create">Crear Tarea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fotos">Fotos Obra</a>
                </li>
            </ul>
        </nav>


        <div class='logoContainer'>
            <img src="/img/LogoTwins.png" class="logo" alt="logo" width="200vh" />
        </div>
    </div>
    <hr>




</body>