<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <header>
        <div class="container ">
        <h1> Diario de obra </h1>
        <h2>imagen</h2>
        <img class="Logo" src="/img/LogoTwins.png" alt="logo">
        </div>
    </header>


    <nav>
        <ul>
            <li> <a href="/"> Inicio </a>
            </li>
        </ul>
    </nav>

</body>